[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none


dotnet_diagnostic.SKEXP0003.severity = warning
dotnet_diagnostic.SKEXP0001.severity = warning
dotnet_diagnostic.SKEXP0020.severity = warning
dotnet_diagnostic.SKEXP0010.severity = warning
dotnet_diagnostic.SKEXP0050.severity = warning
